/dist
/node_modules
/database/database.sqlite
/public/hot
/public/storage
/public/css
/public/webfonts
/public/scss
/public/icons
/public/vendors
/public/public
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
/public/css/app.css
/public/js/administratorApp.js
/public/js/app.js
/public/js/managementApp.js
/public/js/babel.js
/public/js/app.js
/public/js/guestApp.js
/build/*
/public/js/*
/public/css/*

