// Here you can add other styles


.c-header.c-header-fixed{
    top:0px;
}

.click-file{
    cursor:pointer;
}
#app {
    width: 100%;
}
.btn-w-120 {
    width: 120px;
}
.btn-w-100 {
    width: 100px;
}
.txt-warning {
    font-size: 11px;
    margin-left: 5px;
}
.box-action {
    float: right;
    .fa-plus {
        margin-right: 5px;
    }
}
.card-header {
    label {
        font-weight: bold;
        margin-bottom: 0px;
    }
}
.header-exits-btn {
    label {
        font-weight: bold;
        margin-top: 6px;
    }
}
.lbl-input {
    text-align: right;
    padding-top: 7px;
}
*[require]:after {
	content: "※";
    color: red;
}
label.error {
    color: red;
    font-weight: 700;
}
.btn-default {
    background: #f5f5f5;
    color: #333;
    border-color: #ccc;
}
@media only screen and (max-width: 767px) {
    .lbl-input {
        text-align: left;
    }
}
.sweetalert-title {
    font-size: 22px !important;
}
.w-100 {
    width: 100px !important;
}
.transeeker-pagination {
    display: flex;
    justify-content: flex-end;
    .total-item-pagination {
        height: 36px;
        padding-right: 10px;
        display: flex;
        align-items: center;
    }
}
.page-size-select {
    display: initial;
    width: auto;
}
.pull-right {
    float: right;
}
.searchFrom {
    padding-bottom: 10px;
    button {
        margin-left: 5px;
    }
    form {
        flex-wrap:nowrap
    }
}
a {
    .fa {
        margin-right: 5px;
    }
    svg {
        margin-right: 5px;
    }
}
.pd-t-7 {
    padding-top: 7px;
}
.error {
    color: red;
}
.btn-login {
    width: 100%;
    margin-top: 10px;
}
.card-login {
    padding: 50px 0 50px;
}
.group-back-login {
    text-align: center;
    margin-top: 20px;
}
.title-login {
 margin-bottom: 30px;
}
.title-forgot-password {
    font-weight: bold;
    white-space: nowrap;
    color: #555;
    margin-bottom: 15px;
}
table tbody tr td {
    vertical-align: middle !important;
}
.c-main {
    padding-top: 5px !important;
}
.searchFrom .checkbox {
    margin-right: 5px;
}
.swal2-title {
    font-size: 20px !important;
    line-height: 23px;
}
.input-group-file label {
    margin-bottom: 0px !important;
}
.input-group-file {
    padding: 0px !important;
    border: 0px !important;
}
.hidden {
    display: none;
}
.form-control[readonly] {
    background-color:#eee;
    opacity: 1;
    cursor: not-allowed;
}
.form-control[name=file_name], .start-date {
    background-color:#fff !important;
    opacity: 1;
    cursor: not-allowed;
}
.table th, .table td {
    word-break: break-all;
}
.col-time {
    min-width: 100px;
}
.firmware-name {
    min-width: 200px;
}
.firmware-des {
    min-width: 150px;
}
.btn-import-file {
    margin-left: 10px !important;
}
.container {
    max-width: 100% !important;
}
html:not([dir="rtl"]) .c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper, html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper {
    margin-left: 200px;
}
.c-sidebar {
    width: 200px;
    flex: 0 0 200px;
}
.c-sidebar-nav-icon {
    height: 13px;
}
.c-sidebar-nav-link, .c-sidebar-nav-dropdown-toggle {
    padding: 10px;
}
body {
    font-size: 11px;
}
.input-search {
    width: 300px;
    float: right;
}
.clear {
    clear: both;
}
.pagination {
    justify-content: flex-end;
    margin-bottom: 0;
}
.container-fluid {
    padding-left: 10px !important;
    padding-right: 10px !important
}
.c-subheader {
    min-height: 40px;
}
.c-subheader .breadcrumb {
    padding-left: 10px;
}
.card-body {
    padding: 15px;
}
.mrb-5 {
    margin-bottom: 5px;
}
.table>tbody>tr>td {
    vertical-align: middle;
    word-break: break-all;
    padding: 3px!important;
}
.table-striped tbody tr {
    background-color: white !important;
}
.cursor-pointer {
    cursor: pointer;
}
.glyphicon-star {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}
.glyphicon-star:before {
    content: "\2605";
}
.is-danger {
    color: red;
    font-weight: 700;
    white-space: nowrap;
}
.line {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0;
}
.pd-7 {
    padding: 7px;
}
label .required {
    color: red;
    font-size: 80%;
    margin-right: -13px !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.is-danger {
    color: red;
}
.c-active {
    border-right: 5px solid red !important;
}
.card-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}
.card-header .title-page {
    line-height: 2;
    margin-bottom: 0;
}
.pt-7 {
    padding-top: 7px;
}