input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 0.25rem 0 0;
    margin-top: 1px \9;
    padding: 0;
}

.form-radio {
    line-height: 2.25rem;
    position: relative;
    display: inline-block;
    height: 2.25rem;
    padding-left: 2.25rem;
    cursor: pointer;
    user-select: none;
    &:active input[type=radio]:checked:not(:disabled) + .radio-icon {
        box-shadow: 0 0 0 15px rgba(108,187,90,.16);
    }
    input {
        position: absolute;
        visibility: hidden;
        overflow: hidden;
        width: 0;
        height: 0;
    }
    input[type=radio]:checked + .radio-icon {
        border-color: $primary;
    }
    input[type=radio]:checked + .radio-icon:before {
        transform: scale(.68);
        opacity: 1;
        background-color: $primary;
    }
}

.form-checkbox {
    font-size: 0.875rem;
    line-height: 2.25rem;
    position: relative;
    display: inline-block;
    height: 2.25rem;
    padding-left: 2.25rem;
    cursor: pointer;
    user-select: none;
    &:active input[type=checkbox] + .checkbox-icon {
        box-shadow: 0 0 0 15px rgba(108,187,90,.16);
    }
    input {
        position: absolute;
        visibility: hidden;
        overflow: hidden;
        width: 0;
        height: 0;
    }
    input[type=checkbox]:checked + .checkbox-icon:before {
        transform: rotateZ(37deg) scale(1);
        opacity: 1;
    }
    input[type=checkbox]:checked + .checkbox-icon:after {
        border-color: $primary;
        background-color: $primary;
    }
}

.radio-icon {
    position: absolute;
    top: 0.5625rem;
    left: 0;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    transition: all .3s $transition-curve,box-shadow .14s $transition-curve;
    vertical-align: middle;
    border: 2px solid rgba(0,0,0,.54);
    border-radius: 1.125rem;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 0.875rem;
        height: 0.875rem;
        content: " ";
        transition: all .3s $transition-curve;
        transform: scale(0);
        opacity: 0;
        border-radius: 0.875rem;
        background-color: $primary;
    }
}

.checkbox-icon {
    position: absolute;
    top: 0.5625rem;
    left: 0;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    transition: box-shadow .14s $transition-curve;
    vertical-align: middle;
    border: none;
    border-radius: 1.125rem;
    background-color: transparent;
    &:before {
        position: absolute;
        z-index: 1;
        top: 0.125rem;
        left: 0;
        width: 0.5rem;
        height: 0.8125rem;
        content: " ";
        transition: all .3s $transition-curve;
        transform: rotateZ(37deg) scale(0);
        transform-origin: 100% 100%;
        opacity: 0;
        border-right: 0.125rem solid #FFF;
        border-bottom: 0.125rem solid #FFF;
    }
    &:after {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 1.125rem;
        height: 1.125rem;
        content: " ";
        transition: all .3s $transition-curve;
        border: 0.125rem solid rgba(0,0,0,.54);
        border-radius: 0.125rem;
    }
}
