.form-select {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2.25rem;
    padding-right: 1.5rem;
    padding-left: 0;
    cursor: pointer;
    user-select: none;
    transition-timing-function: $transition-curve;
    transition-duration: .2s;
    transition-property: background-color,box-shadow,background-position-x;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    outline: 0;
    background-color: transparent;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20d%3D%22m-0.00254%2C2.5l5%2C5l5%2C-5l-10%2C0z%22%20fill%3D%22%23000000%22%20opacity%3D%220.54%22%2F%3E%3C%2Fsvg%3E%0A);
    background-repeat: no-repeat;
    background-position: right center;
    will-change: background-color,box-shadow,background-position-x;

    appearance: none;
    &:hover {
        border-bottom: 1px solid rgba(0,0,0,.87);
        box-shadow: 0 1px 0 0 rgba(0,0,0,.87);
    }
    option {
        color: $black;
    }
}