// scss-docs-start grey-color-variables
$white:    #FFF !default;
$grey-50:  #FAFAFA !default;
$grey-100: #F5F5F5 !default;
$grey-200: #EEEEEE !default;
$grey-300: #E0E0E0 !default;
$grey-400: #BDBDBD !default;
$grey-500: #9E9E9E !default;
$grey-600: #757575 !default;
$grey-700: #616161 !default;
$grey-800: #424242 !default;
$grey-900: #212121 !default;
$black:    #000 !default;
// scss-docs-end grey-color-variables

// scss-docs-start color-variables
$green:     #6CBB5A;
$blue:      #2D8CFF;
$indigo:    #4078C0;
$purple:    #8036EF;
$pink:      #FF217F;
$yellow:    #FFC841;
$red:       #DA1E28;
$rose:      #EF3E36;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary:       $green;
$accent:        $rose;
$success:       $green;
$error:         $red;
$link:          $indigo;
$prehold:       #ADB2C1;
$bd-light:      $grey-300;
$bd-lighter:    $grey-200;
$bg-light:      $grey-50;
$bg-hover:    rgba(0,0,0,.08);
// scss-docs-end theme-color-variables

// scss-docs-start colors-map
$colors: (
  "primary":    $green,
  "green":      $green,
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "yellow":     $yellow,
  "red":        $red,
  "grey":       $grey-50,
  "black":      $black,
  "white":      $white,
);
// scss-docs-end colors-map

$min-contrast-ratio:       4.5 !default;
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                true !default;
$enable-rounded:              true !default;
$enable-shadows:              false !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        true !default;
$enable-grid-classes:         true !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     false !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;


// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;  // 16 default
$spacers: (
  0: 0,                  // 0
  1: $spacer / 4,        // 4
  2: $spacer / 2,        // 8
  3: $spacer,            // 16
  4: $spacer * 1.5,      // 24
  5: $spacer * 3,        // 48
) !default;
// scss-docs-end spacer-variables-maps


$body-bg:                     $white !default;
$body-color:                  $grey-900 !default;
$body-text-align:             null !default;


// Links
$link-color:                  $link ;
$link-decoration:             none ;
$link-shade-percentage:       20% ;
$link-hover-color:            shift-color($link-color, $link-shade-percentage) ;
$link-hover-decoration:       null ;

// Border
$border-width:                1px ;
$border-color:                $bd-light ;
$border-radius:               2px ;
$border-radius-pill:          50rem ;

// Box-shadow
$box-shadow:                  0 0 0.5rem rgba(0,0,0,.12) ;
$box-shadow-light:            0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
$box-shadow-lighter:          0 0 0.5rem rgba(0,0,0,.04);

$overlay-bg:                  rgba(0,0,0,.4);
// scss-docs-start caret-variables
$caret-width:                 .3em ;
$caret-vertical-align:        $caret-width * .85 ;
$caret-spacing:               $caret-width * .85 ;
// scss-docs-end caret-variables

// Hr
$hr-margin-y:                 $spacer ;
$hr-color:                    $bd-light ;
$hr-height:                   1px ;
$hr-opacity:                  .25 ;

// scss-docs-start font-variables
$font-family-base:            'Roboto', 'Noto Sans JP', sans-serif ;
$font-family-code:            SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace ;
$font-size-root:              null ;
$font-size-base:              1rem ; // Assumes the browser default, typically `16px`

$font-weight-light:           300 ;
$font-weight-normal:          400 ;
$font-weight-bold:            500 ;
$font-weight-bolder:          700 ;
$font-weight-base:            $font-weight-normal ;

$line-height-base:            1.5 ;
$line-height-sm:              1.2 ;
$line-height-lg:              1.8 ;

$letter-spacing-base:         .05em;

$h1-font-size:                $font-size-base * 1.5 ;       // 24
$h2-font-size:                $font-size-base * 1.375 ;    // 22
$h3-font-size:                $font-size-base * 1.125 ;     // 18
$h4-font-size:                $font-size-base ;             // 16
$h5-font-size:                $font-size-base * 0.875;     // 14
$h6-font-size:                $font-size-base * 0.75;      // 12
$small-font-size:             .875em ;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) ;

$text-default:    #5B5B5B;
$text-muted:    #5B5B5B;
$text-disabled: #8E8E8E;
// scss-docs-end font-variables


// scss-docs-start animation-variables
$transition-base:             all .2s ease-in-out ;
$transition-fade:             opacity .15s linear ;
$transition-collapse:         height .35s ease ;
$transition-curve:                    cubic-bezier(.4,0,.2,1);
$transition-curve-fast-out-linear-in: cubic-bezier(.4,0,1,1);
// scss-docs-end animation-variables


// Mark
$mark-padding:                .2em ;
$mark-bg:                     #fcf8e3 ;
$sub-sup-font-size:           .75em ;


// Code
$code-font-size:                    $small-font-size ;
$code-color:                        $pink ;

$kbd-padding-y:                     .2rem ;
$kbd-padding-x:                     .4rem ;
$kbd-font-size:                     $code-font-size ;
$kbd-color:                         $white ;
$kbd-bg:                            $grey-900 ;

$pre-color:                         null ;
$nested-kbd-font-weight:            $font-weight-bold ;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables
$table-cell-padding-y:        .5rem ;
$table-cell-padding-x:        .5rem ;
$table-cell-padding-y-sm:     .25rem ;
$table-cell-padding-x-sm:     .25rem ;

$table-cell-vertical-align:   top ;

$table-color:                 $body-color ;
$table-bg:                    transparent ;

$table-th-font-weight:        null ;

$table-striped-color:         $table-color ;
$table-striped-bg-factor:     .05 ;
$table-striped-bg:            rgba($black, $table-striped-bg-factor) ;

$table-active-color:          $table-color ;
$table-active-bg-factor:      .1 ;
$table-active-bg:             rgba($black, $table-active-bg-factor) ;

$table-hover-color:           $table-color ;
$table-hover-bg-factor:       .075 ;
$table-hover-bg:              rgba($black, $table-hover-bg-factor) ;

$table-border-factor:         .1 ;
$table-border-width:          $border-width ;
$table-border-color:          $border-color ;

$table-striped-order:         odd ;

$table-group-separator-color: currentColor ;

$table-caption-color:         $text-muted ;

$table-bg-scale:              -80% ;
// scss-docs-end table-variables

$legend-margin-bottom:        .5rem ;
$legend-font-size:            1.5rem ;
$legend-font-weight:          null ;




// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) ;
