.bottom-nav {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: $navbar-height;
    margin: 0 auto;
    padding: 0;
    white-space: nowrap;
    background: #FFF;
    box-shadow: $box-shadow-light;
    @include md {
        display: none;
    }

    a {
        font-size: .75rem;
        display: flex;
        overflow: hidden;
        align-items: center;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        padding: 0.5rem 0.75rem 0.625rem;
        cursor: pointer;
        max-width: 9rem;
        user-select: none;
        transition: all .2s $transition-curve;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        opacity: .7;
        color: inherit;
        will-change: padding;
        &.active{
            opacity: 1;
            color: $primary;
            font-weight: $font-weight-bold;
        }
        .icon {
            font-size: 1rem;
            opacity: .7;
        }
    }
}