.comment-item {
    border:1px solid $bd-light;
    margin-bottom: 1.25rem;
    border-radius: $border-radius;
    .tit{
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid $bd-light;
        background-color: $bg-light;
    }
    .cont{
        padding: 1rem;
        font-size: 0.875rem;
        line-height: $line-height-lg;
    }
}