.list {
    margin: 0;
    padding: 0.5rem 0;
    list-style: none;
    background-color: transparent;

    // 子列表没有上下间距
    .list {
        padding: 0;
    }

    // 分割线上下边距
    & > .divider {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .subheader {
        font-size: 0.8125rem;
        font-weight: $font-weight-bold;
        line-height: 3rem;
        position: relative;
        overflow: hidden;
        height: 3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-top: 0.5rem;
        cursor: default;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $text-muted;
        &:before{
            position: absolute;
            right: 0;
            left: 0;
            display: block;
            height: 1px;
            content: ' ';
            background-color: $bd-light;
        }

        &:first-child {
            // 第一个副标题把列表的 padding-top 抵消掉
            margin-top: -0.5rem;
            &:before{
                background-color: transparent;
            }
        }
    }
}

/* 列表项 */
.list-item {
    display: flex;
    align-items: center;
    min-height: 3rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: background-color .3s $transition-curve;
    text-decoration: none;

    &:hover {
        background-color: $bg-hover;
    }
    /* 激活状态的列表项 */
    &.active {
    font-weight: $font-weight-bolder;
    background-color: $bg-hover;
   .list-item-content {
            font-weight: $font-weight-bolder;
        }
        .list-item-text {
            font-weight: $font-weight-base;
        }
    }
}

/* 列表项图标 */
.list-item-icon {
    font-size: 1.125rem;
    line-height: 1.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    color: $primary;
    &.is-grey {
        color: $grey-300;
    }
}

/* 列表项头像 */
.list-item-avatar {
    line-height: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #FFF;
    border-radius: 50%;
    background-color: $bg-light;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

/* 列表项内容 */
.list-item-content {
    font-size: 0.875rem;
    font-weight: $font-weight-base;
    line-height: 1.25rem;
    flex-grow: 1;
    word-break: break-word;
    white-space: normal;
}

/* 列表项内容的副内容 */
.list-item-text {
    font-size: 0.875rem;
    opacity: .54;
}
.list-item-title {
    ~ .list-item-text {
        margin-top: 4px;
    }
}

/* 限制文本高度 */
.list-item-one-line, .list-item-two-line, .list-item-three-line {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.list-item-one-line {
    height: 1.25rem;

    -webkit-line-clamp: 1;
}
.list-item-two-line {
    height: 2.5rem;

    -webkit-line-clamp: 2;
}
.list-item-three-line {
    height: 3.75rem;

    -webkit-line-clamp: 3;
}

/* 列表项内的元素间添加间距 */
.list-item-icon {
    ~ .list-item-content {
        margin-left: 1rem;
    }
}
.checkbox, .radio, .switch {
    ~ .list-item-content {
        margin-left: 1rem;
    }
}
.list-item-avatar {
    ~ .list-item-content {
        margin-left: 1rem;
    }
}
.list-item-content {
    ~ .list-item-icon, ~ .list-item-avatar, ~ .checkbox, ~ .radio, ~ .switch {
        margin-left: 1rem;
    }

    ~ .checkbox, ~ .radio {
        padding-left: 1.5rem;
    }
}

/* 密集型列表 */
.list-dense {
    font-size: 0.8125rem;

    // 副标题
    .subheader {
        font-size: 0.75rem;
    }
    .list-item {
        padding: 0.5rem 1rem;
        min-height: 2.25rem;
        &::after{
            height: 2.25rem;
        }
    }

    // 图标
    .list-item-icon {
        font-size: 1rem;
        line-height: 1.25rem;
        width: 1.25rem;
        min-width: 1.25rem;
        height: 1.25rem;
    }

    .list-item-icon {
        ~ .list-item-content {
            margin-left: 0.75rem;
        }
    }

    // 头像
    .list-item-avatar {
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        min-height: 2rem;
    }

    // 列表项内容
    .list-item-content {
        font-size: 0.8125rem;
    }
    .list-item-text {
        font-size: 0.875rem;
    }

}