// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff
$zindex-modal:                      6030 !default;
$zindex-modal-backdrop:             6000 !default;

// scss-docs-start modal-variables
$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;
$modal-scale-transform:             scale(1.02) !default;
// scss-docs-end modal-variables

.modal-open {
    // Kill the scroll on the body
    overflow: hidden;

    .modal {
    overflow-x: hidden;
    overflow-y: auto;
    }
}
  
// Container that the modal scrolls within
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
    // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
    // See also https://github.com/twbs/bootstrap/issues/17695
}
  
// Shell div to position the modal with bottom padding
.modal-dialog {
    position: relative;
    width: 92%;
    min-width: 180px;
    max-width: 728px;
    margin: $modal-dialog-margin auto;
    // allow clicks to pass through for custom click handling to close modal
    pointer-events: none;

    // When fading in the modal, animate it to slide down
    .modal.fade & {
        @include transition($modal-transition);
        transform: $modal-fade-transform;
    }
    .modal.show & {
        transform: $modal-show-transform;
    }

    // When trying to close, animate focus to scale
    .modal.modal-static & {
        transform: $modal-scale-transform;
    }
}
  
.modal-dialog-scrollable {
    height: subtract(100%, $modal-dialog-margin * 2);

    .modal-content {
        max-height: 100%;
        overflow: hidden;
    }

    .modal-body {
        overflow-y: auto;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: subtract(100%, $modal-dialog-margin * 2);
}

// Actual modal
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
    // counteract the pointer-events: none; in the .modal-dialog
    pointer-events: auto;
    background-color: #FFF;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    // Remove focus outline from opened modal
    outline: 0;
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $zindex-modal-backdrop;
    width: 100vw;
    height: 100vh;
    background-color: $overlay-bg;

    // Fade for backdrop
    &.fade { opacity: 0;}
    &.show { opacity: 1;}
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    font-size: $h3-font-size;
    font-weight: $font-weight-bold;
    line-height: $line-height-sm;
    padding: 1.5rem 1.5rem 1.25rem 1.5rem;
    flex-shrink: 0;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    padding: 1.5rem;
    font-size: 1rem;
    color: $text-muted;
    overflow-y: auto;
    font-size: 0.875rem;
    flex: 1 1 auto;
    -webkit-overflow-scrolling: touch;
    .modal-header+& {
        padding-top: 0;
    }
}
  
// Footer (for actions)
.modal-footer {
    padding: 0.5rem;
    text-align: right;
    flex-shrink: 0;
    .btn{
        margin-left: 0.5rem;
        &:first-child {
            margin-left: 0;
        }
    }
}
// Scale up the modal
@include media-breakpoint-up(sm) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        width: 85%;
        margin: $modal-dialog-margin-y-sm-up auto;
    }

    .modal-dialog-scrollable {
        height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
    }

    .modal-dialog-centered {
      min-height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
    }

}
  
@include media-breakpoint-up(lg) {
    .modal-dialog {
        width: 80%;
    }
}

.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
    .modal-content {
        height: 100%;
        border-radius: 0;
        box-shadow: none;
    }
    .modal-footer {
        border-top: 1px solid $bd-light;
    }
}
